<footer>
  <div class="container clearfix">

    <ul class="desktop">
      <li><a href="/privacy-statement">Privacy Statement</a></li>
      <li><a href="/terms-of-use">Terms of Use</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="join-sgan">
      <h4><%= copywriting('Footer Join Heading', {scope: 'footer', default: 'Join SGAN'}) %></h4>
      <p><%= copywriting('Footer Join Content', {scope: 'footer', default: 'Suspendisse in tempus metus, vel ve hicula justo.Curabitur ullamcorper ul trices risus, id rutrum eros .'}) %></p>
      <a class="button transparent-white" href="/contact">Contact</a>
    </div>

    <!-- two instances needed due to ordering of float property and how the design should look on mobile -->
    <ul class="mobile"> 
      <li><a href="/privacy-statement">Privacy Statement</a></li>
      <li><a href="/terms-of-use">Terms of Use</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <a href="http://www.unep-wcmc.org/" target="_blank" class="logo">
      <span class="logo__title">Powered by</span>
      
      <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg', class: 'logo__image' %>
    </a>
    
  </div>
</footer>