<blockquote class="casestudy">
  <div class="block-arrow-one">
    <div class="block-arrow-two">
      <div class="block-arrow-three"></div>
    </div>
  </div>
  
  <h2>Case Study</h2>
  <p><%= @content %></p>
  <cite><%= @attributes[:project] %></cite>
</blockquote>