<blockquote class="quote">
  <div class="block-arrow-one">
    <div class="block-arrow-two">
      <div class="block-arrow-three"></div>
    </div>
  </div>

  <h2>What our members say</h2>
  <p><%= @content %></p>
  <cite><%= @attributes[:author] %></cite>
</blockquote>